@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.display-f {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    box-shadow: 0 0 10px rgb(46, 230, 250);
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.right-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 350px;
    margin-left: 40px;
}

.timer-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgb(46, 230, 250);
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0 0 5px rgb(46, 230, 250);
}

button:hover {
    background-color: rgb(46, 230, 250);
    color: #000000;
    transition: 0.3s;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}

#total_players {
    right: 20px;
    top: 10px;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    text-shadow: 0 0 5px rgb(46, 230, 250);
    color: rgb(46, 230, 250);
}

.display-none {
    display: none;
    text-align: center;
    font-size: 75px;
    color: rgb(46, 230, 250);
    text-shadow: 0 0 5px rgb(46, 230, 250);
    margin-top: 45px;
}

.playing-as-text {
    display: block;
    text-align: left;
    font-size: 40px;
    color: rgb(46, 230, 250);
    text-shadow: 0 0 5px rgb(46, 230, 250);
    margin-bottom: 40px;
    margin-top: 40px;
}

.clock {
    color: rgb(46, 230, 250);
    font-size: 20px;
    margin: 6px 0;
    text-shadow: 0 0 5px rgb(46, 230, 250);
    text-align: center;
    width: 200px;
    background: rgba(255,255,255,0.02);
    padding: 6px 12px;
    border-radius: 6px;
}